{% extends "header.html" %}
{% block context %}


<div class="gyzf">
    <div class="gyzf-z">
        <img src="../static/images/fonts/zhangfei.jpg" style="width: 100%;height: 100%">
    </div>
    <div class="gyzf-y">
        <img src="../static/images/fonts/guanyu.jpg" style="width: 100%;height: 100%">
    </div>
    <div class="vs" style="cursor:hand;"><a href="javascript:void()"><img src="../static/images/fonts/vs.png" onclick='window.open("../")' style="width: 150px;height: 150px;cursor:hand;"></a></div>
</div>




{% endblock context %}