<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>蛙趣游戏</title>
         <style type="text/css">
            #container{margin:  auto; position: relative;}

            #div{ z-index: -1; left: 0; top: 0;}
         </style>
         <link href="../static/css/wa.css" rel="stylesheet">
        <link rel="shortcut icon" href="../static/images/favicon.png">
        <link href="../static/css/wa.css" rel="stylesheet">
        <!-- FONT_AWESOME -->
        <link rel="stylesheet" href="../static/css/all.min.css">
        <link rel="stylesheet" href="../static/css/fontawesome.min.css">
        <!-- THEMIFY ICON -->
        <link rel="stylesheet" href="../static/css/themify-icons.css">

        <!-- OWL CAROUSEL -->
        <link rel="stylesheet" href="../static/css/owl.carousel.min.css">

        <!-- NICE SELECT -->
        <link rel="stylesheet" href="../static/css/nice-select.css">

        <!-- FANCY_BOX -->
        <link rel="stylesheet" href="../static/css/jquery.fancybox.min.css">

        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">

        <!-- PERSONAL STYLE -->
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/responsive.css">
    </head>

    <body>
<header class="header">

            <nav class=" navbar navbar-expand-lg top-menu">
                <div class="container-fluid">
                    <div class="logo">
                        <a href="./index.html"><img src="../static/images/favicon.png" alt="logo"></a>
                    </div>
                    <div class="collapse main-nav navbar-collapse" id="navbarSupportedContent-333">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="../">主页</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../Journalism">新闻</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">游戏
                                </a>
                                <div class="dropdown-menu dropdown-default"
                                    aria-labelledby="navbarDropdownMenuLink-333">
                                    <a class="dropdown-item" href="../gyzf">关羽大战张飞</a>
                                    <a class="dropdown-item" href="../zwz">成为造物主</a>

                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">社区
                                </a>
                                <div class="dropdown-menu dropdown-default"
                                    aria-labelledby="navbarDropdownMenuLink-333">
                                    <a class="dropdown-item" href="../luntan">蛙趣论坛</a>
                                    <a class="dropdown-item" href="../jlb">蛙趣超会玩俱乐部</a>
                                    <a class="dropdown-item" href="../mrt">蛙趣名人堂</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../develop">开发者</a>
                            </li>
                        </ul>
                    </div>

                    <div class="header-btn">
                        <a href="../login" class="button">登录</a>
                    </div>
                    <div class="mobile-btn bttn">
                        <a href="#contact"><i class="fas fa-envelope-open-text"></i></a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="ti-menu"></i></span>
                    </button>
                </div>
            </nav>
        </header>
        {% block context %}


        {% endblock context %}
       <div id="toTop" class="back-to-top text-right">
            <i class="ti-arrow-up"></i>
        </div>
        <footer class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer-content">
                            <p>版权所有&copy; 李旭广<a target="_blank" href="#">备案号888888888</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="../static/js/jquery-3.3.1.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/owl.carousel.min.js"></script>
        <script src="../static/js/jquery.nice-select.js"></script>
        <script src="../static/js/jquery.fancybox.min.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/script.js"></script>
        <script language="javascript">
                function MsgBox() //声明标识符
                {
                    alert("无法重置，请联系管理员！"); //弹出对话框
                }
                </script>
    </body>

</html>