{% extends "header.html" %}
{% block context %}

<div class="zsypm">
    <div class="zsypm-bg">
    <div class="zsypm-row">

    </div>
    </div>
</div>

<div class="zsypm1">
    <div class="zsypm1-bg">
        <div class="kongbai" style="position: relative;left: 10%;top: 5px"></div>
    <div class="wendang1">
        <h2 class="wenzi">最新资讯</h2>
        <div class="xiaokongbai" style="position: relative;left: 10%;top: 50px"></div>
    </div>
        <div class="zixun01" style="position: relative;left: 10%;top: 5px">
             <div class="team">
                  <div class="team-pic">
                       <img src="../static/images/fonts/gy.jpg" alt="team">
                       <div class="team-overlay">
                                 <h3 class="h5">《关羽大战张飞》</h3>
                                <h7>登录游戏体验最真实的三国战场</h7>
                       </div>
                  </div>
             </div>
        </div>
        <div class="zixun01" style="position: relative;left: 13%;top: 5px">
             <div class="team">
                  <div class="team-pic">
                       <img src="../static/images/fonts/zwz.jpg" alt="team">
                            <div class="team-overlay">
                                <h3 class="h5">《成为造物主》</h3>
                                <h7>全新宇宙魔盒以上线仅售648元</h7>
                            </div>
                  </div>
             </div>
        </div>
        <div class="zixun01" style="position: relative;left: 16%;top: 5px">
              <div class="team">
                   <div class="team-pic">
                        <div class="team-overlay">
                        </div>
                   </div>
              </div>
                <div class="wendang1">
                <p class="wenzi">敬请期待</p>
                </div>
                <div class="wendang1">
                <p class="yinwen">Coming soon</p>
                </div>
        </div>
    </div>
</div>






        <div id="toTop" class="back-to-top text-right">
            <i class="ti-arrow-up"></i>
        </div>

        <!-- END -->

{% endblock context %}