<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 <title>欢迎登录</title>
 <link href="../static/css/wa.css" rel="stylesheet">
</head>
<body>
<!--面板-->
<div id="panel">
 <!--面板的头部-->
 <div class="panel-top">
 <h2>欢迎登录蛙趣游戏</h2>
</div>    <!--面板的主要内容-->
 <div class="panel-content">
<div class="int">
 <label><img src="../static/images/user.png" ></label>
<input type="text" placeholder="你的手机号/用户名">
 </div>
<div class="int">
<label><img src="../static/images/passwd.png" ></label>
<input type="password" placeholder="输入密码">
</div>
<!--配置信息-->
<div class="setting">
<a href="#" class="auto-login">
<input type="checkbox">下次自动登录
</a>
 <a href="#" class="forget-pwd" style="text-decoration: none;">忘记密码</a>
</div>
<div class="login">
<button>登录</button>
</div>
<div class="reg">还没账号?<a href="#">马上注册</a>
</div>
</div>
<!--面板的底部-->
 <div class="panel-footer">
<span>其他方式登录:</span>
<img src="../static/images/qq.png" onclick="javascript:location.href='#'">
<img src="../static/images/taobao.png" onclick="javascript:location.href='#'">
<img src="../static/images/weixin.png" onclick="javascript:location.href='#'">
</div>
</div>
</body>
</html>