
/*去掉 内外边距*/
*{
padding: 0;
 margin: 0;
}
/*设置这个整体的容器的背景色*/
body{
background-color: #F2F2F2;
/*让其水平居中*/
 text-align: center;
}
/*面板*/
#panel{
/*最大的容器距离顶部50个像素*/
margin-top: 20px;
display: inline-block;
background-color: white;
border: 1px solid #dddddd;
padding: 41px;
border-radius: 6px;
box-shadow: 0 0 10px #999;
 width: 460px;

}
/*面板中间*/
#panel .panel-content{
 margin-top: 20px;
}
#panel .panel-content .int{
height: 36px;
margin-bottom: 9px;
position: relative;
}
#panel .panel-content label{
position: absolute;    top: 7px;
left: 6px;
}
#panel .panel-content .int input{
width: 100%;
height: 100%;
border: 1px solid #dddddd;
padding-left: 40px;
/*输入框不超出设置的最大容器*/
box-sizing: border-box;
border-radius: 6px;
}
#panel .panel-content input:focus{
/*取消边框*/
 outline: none;
 border: 1px solid #00ccff;
 box-shadow: 0 0 2px #00ccff;
}
#panel .panel-content .pwd-login a{
display: inline-block;
color: gray;
font-size: 13px;
}
#panel .panel-content .pwd-login{
 width: 260px;
height: 30px;
line-height: 30px;
}
#panel .panel-content .setting{
background-color: #f3f3f3;
}
#panel .panel-content .setting .forget-pwd{    float: right;
}
#panel .panel-content .setting .auto-login{    float: left;
text-decoration: none;
}
#panel .panel-content .pwd-login  input{
/*设置行内块级标签*/
display: inline-block;
 width: 18px;
float: left;
}
#panel .login button{
margin-top: 20px;
width: 100%;
height: 33px;
 border: #3c6a9e;
color: white;
cursor: pointer;
font-size: 18px;
margin-bottom: 10px;
 border-radius: 6px;
 background-color: #1086ff;
}
#panel .reg{
 height: 30px;
 line-height: 30px;
 font-size: 13px;
}
#panel .reg a{
 color: #00ccff;
text-decoration: none;
margin-left: 5px;
}
#panel .panel-footer{
 height: 40px;
line-height: 40px;
}
#panel .panel-footer img{
 /*设置图片居中*/
 vertical-align: middle;
}
#panel .panel-footer span{
/*设置文字垂直居中*/
vertical-align: middle;
}
.ShaShiDi{
width:100%;
height:100%;
display:flex;
position: absolute;
align-items:center;
 background-position:center;
justify-content:center;
z-index: -2; left: 0; top: 0;

			/*为了效果明显，可以将如下边框打开，看一下效果*/
			/* border:1px solid black; */
}
.ShaShiDi img{
	width:100%;
	height:100%;
    background-position: center center;
    background-size: cover;
}
.button_Api{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    border-radius:6px;/*适配所有浏览器*/
    outline: 0;
}
.line1{
      float: right;
}
.zsypm1{
 width:100%;
 height:900px;
 border:1px solid #1086ff;
    background: url(../images/beijin.jpg);
    z-index: -10;
    background-size:100%;
}
.zsypm1-bg {
  height: 100%;
  width: 100%;
    z-index: 10;
  background: rgba(47, 47, 47, 0.7);
}

.zsypm{
 width:100%;
 height:800px;
 border:3px solid #1086ff;
     display: flex;
    /*实现垂直居中*/
    align-items: center;
    /*实现水平居中*/
    justify-content: center;
    background: url(../images/z-index.jpg);
    z-index: -10;
    background-size:100%;

}
.zsypm-bg {
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(0, 40, 121,0.4);
}
.gyzf {
 width:100%;
 height:700px;
 border:3px solid #ff6700;
     display: flex;
    /*实现垂直居中*/
    align-items: center;
    /*实现水平居中*/
    justify-content: center;
    z-index: -10;
    background-size:100%;

}
.gyzf-z {
 width:50%;
 height:700px;
     display: flex;
    /*实现垂直居中*/
    align-items: center;
    /*实现水平居中*/
    justify-content: center;
    background-size:100%;
    z-index: -10;

}
.gyzf-y {
 width:50%;
 height:700px;
     display: flex;
    /*实现垂直居中*/
    align-items: center;
    /*实现水平居中*/
    justify-content: center;
    background-size:100%;
    z-index: -10;

}
.vs {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 18px;
	margin-top:-9px;
}
.zwz {
 width:100%;
 height:700px;
 border:3px solid #009a6c;
     display: flex;
    /*实现垂直居中*/
    align-items: center;
    /*实现水平居中*/
    justify-content: center;
    z-index: -10;
    background-size:100%;

}
.juzhong{
background-color: white;
border: 1px solid #dddddd;
padding: 41px;
border-radius: 6px;
box-shadow: 0 0 10px #999;
 width: 500px;
 height: 300px;
}
.wendang{
background-color: rgba(1,1,1,0.7);
border: 1px solid #dddddd;
padding: 41px;
border-radius: 6px;
box-shadow: 0 0 10px #999;
 width: 80%;
 height: 100%;
}
.wendang1{
     display: flex;
    /*实现垂直居中*/
    align-items: center;
    /*实现水平居中*/
    justify-content: center;
}
.wenzi{
display: flex;
justify-content: center;
font-size: 39px;
color: #ffffff;
border-bottom: 1px solid #a0a0a0;
width: 220px;
margin:0 auto;
}
.yinwen{
display: flex;
justify-content: center;
font-size: 39px;
color: #ffffff;
width: 270px;
margin:0 auto;
}
.content{
 margin-top: 20px;
}

input {
	height:40px;width:410px;
}
input::-webkit-input-placeholder {
	/* WebKit browsers */
    font-size:20px;
	color: #979797;
}

.button_api {
    position: relative;
    display: inline-block;
    background: #1086ff;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #ffffff;
    text-decoration: none;
    text-indent: 0;
    cursor:pointer;
    line-height: 20px;}.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;}.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

.zixun01{
        width:500px;
        height:600px;
        border:1px solid #ffffff;
        display: table-cell;
        vertical-align: middle;
}
.zixun01 img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
}

.kongbai {
        width:50px;
        height:6px;
        display: table-cell;
        vertical-align: middle;
}
.xiaokongbai {
        width:50px;
        height:120px;
        display: table-cell;
        vertical-align: middle;
}

